.container__about {
  margin: 2rem;
  color: #4d4d4d;

  h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    background-color: $theme-color;
    color: #fff;
  }
}

.about {
  &__item {
    line-height: 1.5;
  }
  &__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__list:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      color: currentColor;
      cursor: pointer;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $theme-color;
    }
  }
}
strong {
  font-size: 1.2rem;
}
