nav {
  background-color: $theme-color;
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 0.15rem;
    padding: 0.5rem 0;
    a {
      &:link,
      &:visited {
        transition: all 0.3s;
        font-size: 1.5rem;
        color: #fff;
        padding: 0.5rem 1.5rem;
        font-weight: 500;
      }

      &:hover,
      &:active,
      &.active:link,
      &.active:visited {
        color: $theme-color;
        background-color: #fff;
      }
    }
  }
}
