.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    border: 2px solid $theme-color--dark-2;
  }
  input {
    font-size: 2rem;
    padding: 0.25rem;
    width: 30%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.3s;
    &:focus {
      width: 35%;
      outline: none;
    }

    @media screen and (max-width: 600px) {
      width: 35%;
      font-size: 1.75rem;
      &:focus {
        outline: auto;
      }
    }
  }
  button {
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
