$theme-color: rgb(155, 107, 155);
$theme-color--dark-1: rgb(73, 1, 73);
$theme-color--dark-2: rgb(43, 0, 43);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button {
  padding: 0.25rem 0.5rem;
  font-size: 2rem;
  background-color: $theme-color;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $theme-color--dark-1;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.75rem;
  }
}

.main-container {
  min-height: 100vh;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    border: none;
    border-radius: 2px;
  }
}

@import './nav';
@import './search';
@import './footer';
@import './picture';
@import './about';
